<!-- <div style="text-align:center;">
  <h1 class="title">
    Welcome to Squawk!
  </h1>
</div> -->

<div id="parrot">
  <%#= link_to (image_tag "squawker.png"), 'auth/twitter' %>
  <%#= link_to ("<div id=\"get_squawks\">Get Squawks</div>".html_safe), {:class => "squawk_link"}, 'auth/twitter' %>

<%= link_to('auth/twitter') do %>
  <%= image_tag ("squawker.png") %>
  <div id="get_squawks">Get My Squawks</div>
<% end %>

</div>


<!-- <center><%#= link_to "Fucking Log In", 'auth/twitter', :class => "new-button" %></center> -->

<!-- <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>

<a href="javascript:void(0);">Push me!</a> -->