

<div id="about-description">If you only check Twitter once a day, you'll only see a few tweets from that day. SquawkBot finds the most-discussed links you missed.
</div>

<div id="parrot">

<%= link_to('auth/twitter') do %>
  <%= image_tag ("squawker.png") %>
  <div id="get_squawks">Get My Squawks</div>
<% end %>

</div>



