 
<div style="margin-left: 40px">
  <div class="tweets" style="overflow-x: scroll; position: relative;">

      <table>
        <tr>
        <td width="300px" height="500px ">
       
      </td>
    <span class="glyphicon glyphicon-chevron-right expander"></span>
        </tr>
      </table>
       </div>
  </div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
