 
<div style="margin-left: 40px">
  <div class="tweets" style="overflow-x: scroll; position: relative;">

      <table>
        <tr>
        <td width="300px" height="500px ">
       <blockquote class="twitter-tweet" align= "left" lang="en"><p>Dustin Lance Black slut-shamed by alma mater, shames back <a href="http://t.co/udXvnvLyRb">http://t.co/udXvnvLyRb</a></p>&mdash; Gawker (@Gawker) <a href="https://twitter.com/Gawker/statuses/457185328982675456">April 18, 2014</a></blockquote>
        </td>
        <td width="300px" height="500px ">
      <blockquote class="twitter-tweet" align="left" lang="en"><p>Dustin Lance Black slut-shamed by alma mater, shames back <a href="http://t.co/udXvnvLyRb">http://t.co/udXvnvLyRb</a></p>&mdash; Gawker (@Gawker) <a href="https://twitter.com/Gawker/statuses/457185328982675456">April 18, 2014</a></blockquote>
      </td>
      <td width="300px" height="500px ">

      <blockquote class="twitter-tweet" align="left" lang="en"><p>Dustin Lance Black slut-shamed by alma mater, shames back <a href="http://t.co/udXvnvLyRb">http://t.co/udXvnvLyRb</a></p>&mdash; Gawker (@Gawker) <a href="https://twitter.com/Gawker/statuses/457185328982675456">April 18, 2014</a></blockquote>
      </td>
      <td width="300px" height="500px ">
      <blockquote class="twitter-tweet" align="left" lang="en"><p>Dustin Lance Black slut-shamed by alma mater, shames back <a href="http://t.co/udXvnvLyRb">http://t.co/udXvnvLyRb</a></p>&mdash; Gawker (@Gawker) <a href="https://twitter.com/Gawker/statuses/457185328982675456">April 18, 2014</a></blockquote>
      </td>
    <span class="glyphicon glyphicon-chevron-right expander"></span>
        </tr>
      </table>
       </div>
  </div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
