// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#tweet_num_0:after { 
  content: "<span class="glyphicon glyphicon-chevron-right expander"></span>";
}*/

.new-button {
   border-top: 1px solid #214a63;
   background: #195278;
   background: -webkit-gradient(linear, left top, left bottom, from(#071a26), to(#195278));
   background: -webkit-linear-gradient(top, #071a26, #195278);
   background: -moz-linear-gradient(top, #071a26, #195278);
   background: -ms-linear-gradient(top, #071a26, #195278);
   background: -o-linear-gradient(top, #071a26, #195278);
   padding: 12.5px 25px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.new-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.new-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.title {
    font-size: 60px;
    line-height: 40px;
    font-family: Impact, Charcoal, sans-serif;
}

body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }
/*
a {
  position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
  width: 160px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}*/